<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Employee Directory</title>
	<link rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
			crossorigin="anonymous">
	
</head>

<body>
	
	<div class="container">

	<h3>Employee Directory</h3>
	<hr>
	<p class="h4 mb-4">Save Employee</p>
	<form action="#" th:action="@{/employees/save}"
				     th:object="${employee}"
					 method="post">
		
			<!-- Hidden form field to handle update -->
			<input type="hidden" th:field="*{id}"/>
			
			<input type="text" th:field="*{firstName}"
								placeholder="First Name" class="form-control mb-4 col-4">
								
			<input type="text" th:field="*{lastName}" 
								placeholder="Last Name" class="form-control mb-4 col-4">
								
			<input type="text" th:field="*{email}" 
								placeholder="Email" class="form-control mb-4 col-4">
								
			<input type="text" th:field="*{phoneNumber}" 
								placeholder="Phone Number" class="form-control mb-4 col-4">
								
			 <p th:text="${#numbers.formatInteger(AccountNo,10)}"> This text will replace by AccountNo</p>
								
								
			
			<button type="submit" class="btn btn-primary btn-lg active">Save</button>
	</form>
			
		<hr>
		<a th:href="@{/employees/list}">Back to Employees List</a>
	</div>
	
	
</body>
</html>



